# Logs
logs/
*.log

# notes
notes/



# macOS system files
.DS_Store

# IDE configs (PyCharm)
.idea/
.idea
*.iml



# Temporary files
*.swp
*~
*.bak
*.tmp

# Shell history
*.history

# Output files
data/sample.txt
